.markItUp  {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.markItUp A:link {
	COLOR: #000; TEXT-DECORATION: none
}
.markItUp A:visited {
	COLOR: #000; TEXT-DECORATION: none
}
.markItUp {
	MARGIN: 5px 0px; WIDTH: 90%
}
.markItUpContainer {
	BORDER-RIGHT: #ccc 0px dotted; BORDER-TOP: #ccc 1px dotted; MARGIN-TOP: 10px; PADDING-BOTTOM: 15px; FONT: 11px Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: #ccc 0px dotted; PADDING-TOP: 14px; BORDER-BOTTOM: #ccc 1px dotted
}
.markItUpEditor {
	CLEAR: both; PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; FONT: 12px/18px Verdana, Arial, Helvetica, sans-serif; OVERFLOW: auto; WIDTH: 100%; PADDING-TOP: 5px; HEIGHT: 200px
}
.markItUpPreviewFrame {
	OVERFLOW: auto; WIDTH: 99.9%; HEIGHT: 300px; BACKGROUND-COLOR: #ffffff
}
.markItUpFooter {
	WIDTH: 100%
}
.markItUpResizeHandle {
	BACKGROUND-IMAGE: url(images/handle.png); MARGIN-LEFT: auto; OVERFLOW: hidden; WIDTH: 22px; CURSOR: n-resize; MARGIN-RIGHT: auto; HEIGHT: 5px
}
.markItUpHeader UL LI {
	FLOAT: left; LIST-STYLE-TYPE: none; POSITION: relative
}
UNKNOWN {
	DISPLAY: block
}
.markItUpHeader UL .markItUpDropMenu {
	BACKGROUND: url(images/menu.png) no-repeat 115% 50%; MARGIN-RIGHT: 5px
}
.markItUpHeader UL .markItUpDropMenu LI {
	MARGIN-RIGHT: 0px
}
.markItUpHeader UL UL {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; DISPLAY: none; BACKGROUND: #fff; LEFT: 0px; BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: #000 1px solid; POSITION: absolute; TOP: 18px
}
.markItUpHeader UL UL LI {
	FLOAT: none; BORDER-BOTTOM: #000 1px solid
}
.markItUpHeader UL UL .markItUpDropMenu {
	BACKGROUND: url(images/submenu.png) #fff no-repeat 100% 50%
}
.markItUpHeader UL .markItUpSeparator {
	MARGIN: 0px 10px; OVERFLOW: hidden; WIDTH: 1px; HEIGHT: 16px; BACKGROUND-COLOR: #ccc
}
.markItUpHeader UL UL .markItUpSeparator {
	MARGIN: 0px; WIDTH: auto; HEIGHT: 1px
}
.markItUpHeader UL UL UL {
	LEFT: 150px; POSITION: absolute; TOP: -1px
}
.markItUpHeader UL UL UL LI {
	FLOAT: none
}
.markItUpHeader UL A {
	PADDING-RIGHT: 3px; DISPLAY: block; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 0px; WIDTH: 16px; TEXT-INDENT: -1000px; PADDING-TOP: 3px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 16px
}
.markItUpHeader UL UL A {
	PADDING-RIGHT: 5px; BACKGROUND-POSITION: 2px 50%; DISPLAY: block; PADDING-LEFT: 25px; PADDING-BOTTOM: 5px; WIDTH: 120px; TEXT-INDENT: 0px; PADDING-TOP: 5px
}
.markItUpHeader UL UL A:hover {
	COLOR: #fff; BACKGROUND-COLOR: #000
}
